<% include ../../inc/usercpHead.ejs %>
<% include ../../inc/admincpsider.ejs %>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Pending Withdrawal</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item active"><h4>Mobile Recharge Requests</h4></div>
            <div class="list-group-item">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>METHOD</th>
                        <th>VIA</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <% widwrawls.forEach( token => { %>
                    <tbody>
                    <tr>
                        <td><strong><%= token.amount %> INR</strong></td>
                        <%
                            var method;
                            if(token.method === 1) {
                                method = "BANK";
                            } else if (token.method === 2){
                                method = "RECHARGE";
                            } else if(token.method === 3){
                                method = "BITCOIN";
                            }
                        %>
                        <td><strong><%= method %></strong></td>
                        <td><strong><%= func.getWidId(token, token.method) %></strong></td>
                        <td><a class="btn btn-success" href="/admin/withdrawals/<%= token._id %>/view">VIEW</a></td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
<% include ../../inc/footer %>
