<% include ../../inc/usercpHead %>
<% include ../../inc/admincpsider %>
<div class="box box-primary">
    <div class="panel-heading">
        <h4>Active User</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <form class="form-inline" action="/admin/users/<%= user._id %>/active" method="POST">
                    <button name="button" class="btn btn-success">Save</button>
                    <a href="/admin/users/active" class="btn btn-info">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../../inc/footer %>
